<mat-nav-list>
  <div class= "profile-card">
    <div class="header"></div>
    <h2>Welcome!</h2>
    <h3>customer@email.com</h3>

    <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png" alt="">
  </div>

  <mat-divider></mat-divider>
        <h2 matSubheader> </h2>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Dashboard </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/notifications" >Notifications </a>
  <a mat-list-item routerLinkActive= "list-item-active" routerLink="/support" >Support </a>
        <mat-divider>
        </mat-divider>
</mat-nav-list>

